<header class="header">
  <div class="container header-container">
    <div class="logotype">
      <div class="logo-image">
        <fa-icon [icon]="faMountain"></fa-icon>
      </div>
      <div>
        <p class="logo-text">{{ logoName }}</p>
      </div>
    </div>
    <div class="main-nav">
      <nav class="menu fs-18 semi-bold white-color flex gap-24">
        @for (transition of navTransitions; track transition.path) {
          <a
            id="transition"
            class="fs-18 semi-bold white-color"
            [routerLink]="transition.path"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: transition.path === '/' }"
          >
            {{ transition.label }}
          </a>
        }
      </nav>
      <div class="consultation-btn minor-button">
        <a id="consultation-btn">Консультация</a>
      </div>
    </div>
  </div>
  <div class="task-container">
    @if (toggle) {
      <div class="timer-container">
        <span class="current-time">
          {{ currentDate | date: 'dd.MM.yyyy HH:mm:ss' }}
        </span>
      </div>
    } @else {
      <div class="counter-container">
        <button
          (click)="count = count - 1"
          class="counter-btn"
          id="reducing-btn"
          [disabled]="count === 0"
        >
          -
        </button>
        <span class="count-display">{{ count }}</span>
        <button (click)="count = count + 1" class="counter-btn" id="increasing-btn">+</button>
      </div>
    }
    <button class="toggle-btn minor-button" id="toggle-btn" (click)="toggle = !toggle">
      {{ toggle ? 'Показать счетчик' : 'Показать таймер' }}
    </button>
  </div>
  <div class="theme-controls">
    <p-toggleswitch [ngModel]="currentMode === 'dark'" (onChange)="onSliderClick()" />
    <p-selectbutton
      [options]="themeOptions"
      [ngModel]="currentTheme"
      (ngModelChange)="onSelectTheme($event)"
      optionLabel="label"
      optionValue="value"
      [allowEmpty]="false"
    />
  </div>
</header>
