<footer class="footer">
  <div class="container footer-container">
    <div class="newsletters">
      <div class="content-title">
        <p class="pre-title fs-18">актуально</p>
        <h2 class="title-text fs-26">Получайте полезные рассылки о путешествиях</h2>
      </div>
      <div class="subscription">
        <h4 class="subscription-title fs-16">Введите e-mail адрес</h4>
        <form id="email-form" class="email-form">
          <div class="web-contact">
            <input type="text" name="email" placeholder="name@domain.com" />
            <button type="submit" class="email-send-button primary-button" id="email-send-button">
              Подписаться на новости
            </button>
          </div>
        </form>
        <p class="fs-14">
          подписываясь на новости, вы автоматически соглашаетесь с
          <u>условиями <br />обработки персональных данных и правилами рекламных рассылок</u>
        </p>
      </div>
    </div>
  </div>
  <div class="travel-service-info">
    <div class="container travel-service-info-container">
      <div class="company-info">
        <h3 class="fs-20 white-color">Компания «РумТибет»</h3>
        <p class="fs-14 white-color">
          Его корни уходят в один фрагмент классической латыни 45 года<br />
          н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из
          колледжа Hampden-Sydney.
        </p>
        <div class="contact-info">
          <p class="fs-14 white-color">info@domain.com</p>
          <p class="fs-14 white-color">+7 (123) 456-78-90</p>
        </div>
        <div class="icon-container">
          <img src="/images/telegram-icon.svg" />
          <img src="/images/vk-icon.svg" />
          <img src="/images/pinterest-icon.svg" />
          <img src="/images/skype-icon.svg" />
        </div>
      </div>
      <div class="travel-service">
        <h3 class="fs-20 white-color">Наши услуги</h3>
        <div class="service-navigation">
          <div class="service-viewing">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="show-walk-btn">Прогулки в горы летом</a>
          </div>
          <div class="service-viewing">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="show-hike-btn">Зимние походы в горы</a>
          </div>
          <div class="service-viewing">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="visit-temple-btn">Посещение храмов в горах</a>
          </div>
          <div class="service-viewing">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="extreme-tour-btn">Экстремальные виды туризма</a>
          </div>
          <div class="service-viewing">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="amazon-hike-btn">Походы в джунглях Амазонии</a>
          </div>
          <div class="service-viewing">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="africa-tour-btn">Поездка в Африку</a>
          </div>
        </div>
      </div>
      <div class="important-info">
        <h3 class="fs-20 white-color">Важно для путешествий</h3>
        <div class="travel-instruction">
          <div class="detail-info">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="prepare-hike-btn">Как собрать в долгий поход?</a>
          </div>
          <div class="detail-info">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="show-important-thing-btn">Жизненно важные предметы для похода</a>
          </div>
          <div class="detail-info">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="show-guarantee-btn">Медицинская страховка, гарантии безопасности</a>
          </div>
          <div class="detail-info">
            <img src="/images/disclosure-icon.svg" />
            <a class="fs-14 white-color" id="view-for-doctor-btn">Если вы врач - загляните сюда</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="privacy-policy">
    <div class="container privacy-policy-container">
      <span class="fs-14 white-color">ИП Константинопольский К.К., 2023</span>
      <span class="fs-14 white-color">Политика обработки персональных данных</span>
    </div>
  </div>
</footer>

