.users-list {
  height: 1580px;
  box-sizing: border-box;
  padding: 80px 230px;
  background: #f3f5f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    display: flex;
    justify-content: center;
    color: #1d3939;
    font-weight: 800;
    font-size: 48px;
    line-height: 29.9px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .add-user-btn {
    width: 230px;
    height: 40px;
    margin-bottom: 10px;
  }

  .users-container {
    height: 1310px;
    width: 1460px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 70px;
    overflow: hidden;

    .absence-notification {
      width: 558px;
      height: 105px;
      opacity: 1;
      border-radius: 20px;
      background-color: #b15757;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-weight: 800;
        font-size: 26px;
        line-height: 29.9px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: var(--white-color)
      }
    }
  }
}
