.new-user-card {
  max-width: 440px;
  min-height: 660px;
  margin: 0 auto;
  margin-top: 40px;
  box-sizing: border-box;
  padding: 20px 30px 40px 30px;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  .user-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    h3 {
      display: flex;
      justify-content: center;
      color: #1f2937;
      margin: 0;
    }

    .user-details-field {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .geo-details {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .geo-input {
          width: 120px;
        }
      }
    }
  }
}
