@if (loading) {
  <div class="loading-container">
    <img src="/images/loading-icon.svg" alt="loading" class="spinner" />
  </div>
}
<header class="header">
  <div class="super-header">
    <div class="container super-header-container">
      <div class="logotype">
        <div class="logo-image">
          <img src="/images/mountain-logo.svg" />
        </div>
        <div>
          <p class="logo-text">{{ logoName }}</p>
        </div>
      </div>
      <div class="main-nav">
        <nav class="menu fs-18 semi-bold white-text flex gap-24">
          <a id="main-info">Главная</a>
          <a id="guide-info">Про гида</a>
          <a id="tour-program">Программа тура</a>
          <a id="tour-cost">Стоимость</a>
          <a id="tour-blog">Блог</a>
          <a id="tour-contact">Контакты</a>
        </nav>
        <div class="consultation-btn minor-button">
          <a id="consultation-btn">Консультация</a>
        </div>
      </div>
    </div>
    <div class="task-container">
      @if (toggle) {
        <div class="timer-container">
          <span class="current-time">
            {{ currentDate | date: 'dd.MM.yyyy HH:mm:ss' }}
          </span>
        </div>
      } @else {
        <div class="counter-container">
          <button
            (click)="count = count - 1"
            class="counter-btn"
            id="reducing-btn"
            [disabled]="count === 0"
          >
            -
          </button>
          <span class="count-display">{{ count }}</span>
          <button (click)="count = count + 1" class="counter-btn" id="increasing-btn">+</button>
        </div>
      }
      <button class="toggle-btn minor-button" id="toggle-btn" (click)="toggle = !toggle">
        {{ toggle ? 'Показать счетчик' : 'Показать таймер' }}
      </button>
    </div>
  </div>
  <div class="title">
    <div class="container title-container">
      <h1 class="title-text">
        Насладись прогулкой в горах
        <br />с командой единомышленников
      </h1>
    </div>
  </div>
  <div class="search-info">
    <div class="container search-info-container">
      <form class="search-block">
        <div class="select-section">
          <div class="location-tour">
            <select
              name="location"
              [(ngModel)]="searchTours.location"
              class="selection-field down-arrow-icon"
              id="location-tour"
              required
            >
              <option value="" disabled selected hidden>Локация для тура</option>
              <option value="1">Эльбрус</option>
              <option value="2">Алтай</option>
              <option value="3">Шерегеш</option>
            </select>
          </div>
          <div class="hint-text fs-14">
            <label for="my-tour">выберите из списка</label>
          </div>
        </div>
        <div class="select-section">
          <div class="location-tour">
            <input
              name="date"
              [(ngModel)]="searchTours.date"
              type="date"
              class="selection-field selection-date date-icon"
              id="date-tour"
              data-placeholder="Дата похода"
              required
            />
          </div>
          <div class="hint-text-container fs-14">
            <label class="hint-text" for="my-tour">укажите дату</label>
          </div>
        </div>
        <div class="select-section">
          <div class="location-tour">
            <select
              name="tourist"
              [(ngModel)]="searchTours.tourist"
              class="selection-field down-arrow-icon"
              id="partaker"
              required
            >
              <option value="" disabled selected hidden>Участники</option>
              <option value="1">1 участник</option>
              <option value="2">2 участника</option>
              <option value="3">3-5 участников</option>
            </select>
          </div>
          <div class="hint-text fs-14">
            <label for="my-tour">выберите из списка</label>
          </div>
        </div>
        <button class="search-tour primary-button" id="search-tour" [disabled]="!isTourReady()">
          Найти программу
        </button>
      </form>
    </div>
  </div>
  <div class="input-container">
    <input class="input-text" id="input-text" [(ngModel)]="text" />
    <p>{{ text }}</p>
  </div>
</header>
<section class="mountain-description">
  <div class="container mountain-description-container">
    <div class="mountain-image-container"></div>
    <div class="info-mountain-description">
      <div class="title-mountain-description">
        <p class="pre-title">о нашем походе</p>
        <h2 class="title-text">Исследуйте все горные массивы мира вместе с нами</h2>
      </div>
      <div class="text-mountain">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
        Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его
        поисками в классической латинской литературе.
      </div>
      <button
        class="tour-program-btn primary-button"
        id="tour-program-btn"
        (click)="randomMessage()"
      >
        Программа тура
      </button>
      <div class="messages-container">
        @for (msg of mgService.messages; track $index) {
          <ng-container
            [ngTemplateOutlet]="message"
            [ngTemplateOutletContext]="{ $implicit: msg, idx: $index }"
          >
          </ng-container>
        }
      </div>
    </div>
  </div>
</section>
<section class="tour-program-info-container">
  <div class="tour-program-text">
    <div class="tour-program-title">
      <p class="pre-title">наше предложение</p>
      <h2 class="title-text">Лучшие программы для тебя</h2>
    </div>
    <div class="explanation-text">
      Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
      тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
    </div>
    <div class="advantages-list">
      @for (advantage of advantages; track advantage.id) {
        <div class="advantage-container">
          <div class="icon-container" [style.background-color]="advantage.iconColor">
            <img class="advantage-icon" [src]="'/images/' + advantage.image + '.svg'" />
          </div>
          <div class="advantage-text">
            <h3 class="fs-18 bold">{{ advantage.title }}</h3>
            <p class="fs-14 regular">{{ advantage.description }}</p>
          </div>
        </div>
      }
    </div>
    <button
      class="tour-program-price-btn primary-button"
      id="tour-program-price-btn"
      (click)="randomMessage()"
    >
      Стоимость программ
    </button>
    <div class="messages-container">
      @for (msg of mgService.messages; track $index) {
        <ng-container
          [ngTemplateOutlet]="message"
          [ngTemplateOutletContext]="{ $implicit: msg, idx: $index }"
        >
        </ng-container>
      }
    </div>
  </div>
  <div class="tour-program-photo">
    <img src="/images/lagoon-image.png" />
    <img src="/images/mountain-peak-image.png" />
    <img src="/images/snow-ride-image.png" />
    <img src="/images/valley-colors-image.png" />
  </div>
</section>
<section class="popular-tour">
  <div class="container popular-tour-container">
    <div class="popular-destination-title">
      <p class="pre-title">по версии отдыхающих</p>
      <h2 class="title-text">Популярные направления</h2>
    </div>
    <div class="popular-offers-grid">
      @for (destination of destinations; track destination.id) {
        <div class="destination-container">
          <img [src]="'/images/' + destination.image + '.png'" />
          <div class="rating-container">
            <div class="rating-icon">
              <img src="/images/rating-icon.svg" />
            </div>
            <div class="rating-value">
              <p class="rating-number fs-14 bold">{{ destination.rating }}</p>
            </div>
          </div>
          <div class="info-panel">
            <div class="destination-content">
              <div class="destination-title">
                <h3 class="destination-title-text fs-24 bold line-120 white-text">
                  {{ destination.title }}
                </h3>
              </div>
              <div class="destination-subtitle">
                <p class="destination-subtitle-text fs-14 regular white-text">
                  {{ destination.description }}
                </p>
              </div>
            </div>
            <div class="price-container">
              <p class="price-text fs-20 bold white-text">{{ destination.price }} $</p>
            </div>
          </div>
        </div>
      }
    </div>
    <button class="tour-rating-btn primary-button" id="tour-rating-btn" (click)="randomMessage()">
      Рейтинг направлений
    </button>
    <div class="messages-container">
      @for (msg of mgService.messages; track $index) {
        <ng-container
          [ngTemplateOutlet]="message"
          [ngTemplateOutletContext]="{ $implicit: msg, idx: $index }"
        >
        </ng-container>
      }
    </div>
  </div>
</section>
<section class="travel-blog">
  <div class="container travel-blog-container">
    <div class="travel-title">
      <p class="pre-title">делимся впечатлениями</p>
      <h2 class="title-text">Блог о путешествиях</h2>
    </div>
    <div class="travel-cards-container">
      @for (travelCard of travelCards; track travelCard.id) {
        <div class="travel-container">
          <img [src]="'/images/' + travelCard.image + '.png'" />
          <div class="travel-info-container">
            <div class="travel-heading">
              <h3 class="fs-24 bold">{{ travelCard.title }}</h3>
            </div>
            <div class="travel-description">
              <p class="fs-14 regular">{{ travelCard.description }}</p>
            </div>
            <div class="travel-details">
              <time class="fs-14 bold yellow-color">{{ travelCard.date }}</time>
              <a class="fs-14 bold forest-color" id="read-more">{{ travelCard.link }}</a>
            </div>
          </div>
        </div>
      }
    </div>
    <button
      class="travel-card-choice-btn primary-button"
      id="travel-card-choice-btn"
      (click)="randomMessage()"
    >
      Другие материалы
    </button>
    <div class="messages-container">
      @for (msg of mgService.messages; track $index) {
        <ng-container
          [ngTemplateOutlet]="message"
          [ngTemplateOutletContext]="{ $implicit: msg, idx: $index }"
        >
        </ng-container>
      }
    </div>
  </div>
</section>

<ng-template #message let-msg let-idx="index">
  <div class="message-container">
    <div class="envelope-icon">
      <img src="/images/envelope-icon.svg" />
    </div>
    <div class="message-content">
      <h3 class="message-type">{{ msg.type }}</h3>
      <p class="message-text">{{ msg.text }}</p>
    </div>
    <div class="delete-icon" (click)="deleteMessage(msg.id)">
      <img src="/images/delete-icon.svg" />
    </div>
  </div>
</ng-template>
