<div class="loading-container" *ngIf="loading">
  <img src="/images/loading-icon.svg" alt="loading" class="spinner">
</div>
<header class="header">
  <div class="super-header">
    <div class="container super-header-container">
      <div class="logotype">
        <div class="logo-image">
          <img src="/images/mountain-logo.svg" />
        </div>
        <div>
          <p class="logo-text">{{ logoName }}</p>
        </div>
      </div>
      <div class="main-nav">
        <nav class="menu fs-18 semi-bold white-text flex gap-24">
          <a id="main-info">Главная</a>
          <a id="guide-info">Про гида</a>
          <a id="tour-program">Программа тура</a>
          <a id="tour-cost">Стоимость</a>
          <a id="tour-blog">Блог</a>
          <a id="tour-contact">Контакты</a>
        </nav>
        <div class="consultation-btn minor-button">
          <a id="consultation-btn">Консультация</a>
        </div>
      </div>
    </div>
    <div class="task-container">
      @if (toggle) {
        <div class="timer-container">
          <span class="current-time">
            {{ currentDate | date: 'dd.MM.yyyy HH:mm:ss' }}
          </span>
        </div>
      } @else {
        <div class="counter-container">
          <button (click)="count = count - 1" class="counter-btn" id="reducing-btn" [disabled]="count === 0">
            -
          </button>
          <span class="count-display">{{ count }}</span>
          <button (click)="count = count + 1" class="counter-btn" id="increasing-btn">+</button>
        </div>
      }
      <button class="toggle-btn minor-button" id="toggle-btn" (click)="toggle = !toggle">
        {{ toggle ? 'Показать счетчик' : 'Показать таймер' }}
      </button>
    </div>
  </div>
  <div class="title">
    <div class="container title-container">
      <h1 class="title-text">
        Насладись прогулкой в горах
        <br />с командой единомышленников
      </h1>
    </div>
  </div>
  <div class="search-info">
    <div class="container search-info-container">
      <form class="search-block">
        <div class="select-section">
          <div class="location-tour">
            <select
              name="location"
              [(ngModel)]="searchTours.location"
              class="selection-field down-arrow-icon"
              id="location-tour"
              required
            >
              <option value="" disabled selected hidden>Локация для тура</option>
              <option value="1">Эльбрус</option>
              <option value="2">Алтай</option>
              <option value="3">Шерегеш</option>
            </select>
          </div>
          <div class="hint-text fs-14">
            <label for="my-tour">выберите из списка</label>
          </div>
        </div>
        <div class="select-section">
          <div class="location-tour">
            <input
              name="date"
              [(ngModel)]="searchTours.date"
              type="date"
              class="selection-field selection-date date-icon"
              id="date-tour"
              data-placeholder="Дата похода"
              required
            />
          </div>
          <div class="hint-text-container fs-14">
            <label class="hint-text" for="my-tour">укажите дату</label>
          </div>
        </div>
        <div class="select-section">
          <div class="location-tour">
            <select
              name="tourist"
              [(ngModel)]="searchTours.tourist"
              class="selection-field down-arrow-icon"
              id="partaker"
              required
            >
              <option value="" disabled selected hidden>Участники</option>
              <option value="1">1 участник</option>
              <option value="2">2 участника</option>
              <option value="3">3-5 участников</option>
            </select>
          </div>
          <div class="hint-text fs-14">
            <label for="my-tour">выберите из списка</label>
          </div>
        </div>
        <button class="search-tour primary-button" id="search-tour" [disabled]="!isTourReady()">
          Найти программу
        </button>
      </form>
    </div>
  </div>
  <div class="input-container">
    <input class="input-text" id="input-text" [(ngModel)]="text" />
    <p>{{ text }}</p>
  </div>
</header>
<section>
  <div class="mountain-description">
    <div class="container mountain-description-container">
      <div class="mountain-image-container"></div>
      <div class="info-mountain-description">
        <div class="title-mountain-description">
          <p class="pre-title">о нашем походе</p>
          <h2 class="title-text">Исследуйте все горные массивы мира вместе с нами</h2>
        </div>
        <div class="text-mountain">
          Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
          тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
          Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его
          поисками в классической латинской литературе.
        </div>
        <div class="tour-program-btn primary-button">
          <a id="tour-program-btn">Программа тура</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="tour-program-info-container">
    <div class="tour-program-text">
      <div class="tour-program-title">
        <p class="pre-title">наше предложение</p>
        <h2 class="title-text">Лучшие программы для тебя</h2>
      </div>
      <div class="explanation-text">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
      </div>
      <div class="feature-list">
        @for (feature of features; track feature.id) {
          <div class="feature">
            <div class="icon-container" [style.background-color]="feature.iconColor">
              <img class="feature-icon" [src]="'/images/' + feature.image + '.svg'" />
            </div>
            <div class="feature-text">
              <h3 class="fs-18 bold">{{ feature.title }}</h3>
              <p class="fs-14 regular">{{ feature.description }}</p>
            </div>
          </div>
        }
      </div>
      <div class="tour-program-price-btn primary-button">
        <a id="tour-program-price-btn">Стоимость программ</a>
      </div>
    </div>
    <div class="tour-program-photo"></div>
  </div>
</section>

