<section class="mountain-description">
  <div class="container mountain-description-container">
    <div class="mountain-image-container"></div>
    <div class="info-mountain-description">
      <div class="title-mountain-description">
        <p class="pre-title fs-24">о нашем походе</p>
        <h2 class="title-text fs-32">Исследуйте все горные массивы мира вместе с нами</h2>
      </div>
      <div class="text-mountain">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
        Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его
        поисками в классической латинской литературе.
      </div>
      <button
        class="tour-program-btn primary-button"
        id="tour-program-btn"
        (click)="mgService.showInfo('Подробное описание тура')"
      >
        Программа тура
      </button>
    </div>
  </div>
</section>
<section class="tour-program-info-container">
  <div class="tour-program-text">
    <div class="tour-program-title">
      <p class="pre-title fs-24">наше предложение</p>
      <h2 class="title-text fs-32">Лучшие программы для тебя</h2>
    </div>
    <div class="explanation-text">
      Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
      тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
    </div>
    <div class="advantages-list">
      @for (advantage of advantages; track advantage.id) {
        <div class="advantage-container">
          <div class="icon-container" [style.background-color]="advantage.iconColor">
            <img class="advantage-icon" [src]="'/images/' + advantage.image + '.svg'" />
          </div>
          <div class="advantage-text">
            <h3 class="fs-18 bold">{{ advantage.title }}</h3>
            <p class="fs-14 regular">{{ advantage.description }}</p>
          </div>
        </div>
      }
    </div>
    <button
      class="tour-program-price-btn primary-button"
      id="tour-program-price-btn"
      (click)="mgService.showWarn('Стоимость увеличена')"
    >
      Стоимость программ
    </button>
  </div>
  <div class="tour-program-photo">
    <img src="/images/lagoon.png" />
    <img src="/images/mountain-peak.png" />
    <img src="/images/snow-ride.png" />
    <img src="/images/valley-colors.png" />
  </div>
</section>
<section class="popular-tour">
  <div class="container popular-tour-container">
    <div class="popular-destination-title">
      <p class="pre-title fs-24">по версии отдыхающих</p>
      <h2 class="title-text fs-32">Популярные направления</h2>
    </div>
    <div class="popular-offers-grid">
      @for (destination of destinations; track destination.id) {
        <div class="destination-container">
          <img [src]="'/images/' + destination.image + '.png'" />
          <div class="rating-container">
            <div class="rating-icon">
              <img src="/images/rating-star-icon.svg" />
            </div>
            <div class="rating-value">
              <p class="rating-number fs-14 bold">{{ destination.rating }}</p>
            </div>
          </div>
          <div class="info-panel">
            <div class="destination-content">
              <div class="destination-title">
                <h3 class="destination-title-text fs-24 bold line-120 white-color">
                  {{ destination.title }}
                </h3>
              </div>
              <div class="destination-subtitle">
                <p class="destination-subtitle-text fs-14 regular white-color">
                  {{ destination.description }}
                </p>
              </div>
            </div>
            <div class="price-container">
              <p class="price-text fs-20 bold white-color">{{ destination.price }} $</p>
            </div>
          </div>
        </div>
      }
    </div>
    <button
      class="tour-rating-btn primary-button"
      id="tour-rating-btn"
      (click)="mgService.showSuccess('Рейтинг обновлен')"
    >
      Рейтинг направлений
    </button>
  </div>
</section>
<section class="travel-blog">
  <div class="container travel-blog-container">
    <div class="travel-title">
      <p class="pre-title fs-24">делимся впечатлениями</p>
      <h2 class="title-text fs-32">Блог о путешествиях</h2>
    </div>
    <div class="travel-cards-container">
      @for (travelCard of travelCards; track travelCard.id) {
        <div class="travel-container">
          <img [src]="'/images/' + travelCard.image + '.png'" />
          <div class="travel-info-container">
            <div class="travel-heading">
              <h3 class="fs-24 bold">{{ travelCard.title }}</h3>
            </div>
            <div class="travel-description">
              <p class="fs-14 regular">{{ travelCard.description }}</p>
            </div>
            <div class="travel-details">
              <time class="fs-14 bold yellow-color">{{ travelCard.date }}</time>
              <a class="fs-14 bold forest-color" id="read-more">{{ travelCard.link }}</a>
            </div>
          </div>
        </div>
      }
    </div>
    <button
      class="travel-card-choice-btn primary-button"
      id="travel-card-choice-btn"
      (click)="mgService.showError('Материалы не доступны')"
    >
      Другие материалы
    </button>
  </div>
</section>
<section class="impressions-block">
  <div class="container impressions-block-container">
    <div class="impressions-title">
      <p class="pre-title fs-24">фото-отчет</p>
      <h2 class="title-text fs-32">делимся впечатлениями</h2>
    </div>
    <div class="impressions-images-container">
      <img src="/images/air-balloons-over-mountains.png" />
      <img src="/images/travel-photographer-kit.png" />
      <img src="/images/burj-al-arab.png" />
      <img src="/images/moored-boats.png" />
      <img src="/images/canyon.png" />
      <img src="/images/memories-of-travels.png" />
    </div>
    <button
      class="pinterest-btn primary-button"
      id="pinterest-btn"
      (click)="mgService.showError('Материалы не доступны')"
    >
      Наш pinterest
    </button>
  </div>
</section>
